<p id="def-mixin-mq">
    <code class="def-title">mq($media-size, [$media])</code><br>

    <span class="secondary-text">➜</span> Includes a media query based on a passed-in lower-bound.
</p>

<blockquote>
    <dl>
        <dt>$media-size <small><em>value</em> <strong>required</strong></small></dt>
        <dd><a href="{{ '/docs/variables#vars-breakpoints' | prepend: base_url }}">Media variable</a> (<code>$small</code>, <code>$medium</code>, <code>$large</code>, <code>$xlarge</code>) or any other valid <code>width</code> value.</dd>

        <dt>$media <small><em>media type</em> (screen)</small></dt>
        <dd>Takes any valid media type (<code>screen</code>, <code>print</code>, etc.).</dd>
    </dl>
</blockquote>
