<h3>Utility Classes</h3>

<div class="row">
    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">.group</code><br>

            <span class="secondary-text">➜</span> Includes the <a href="{{ '/docs/mixins' | prepend: base_url }}">clearfix mixin</a>.
        </p>

        <p>
            <code class="def-title">.hidden</code><br>

            <span class="secondary-text">➜</span> Hides the element.
        </p>

        <p>
            <code class="def-title">.left, .right</code><br>

            <span class="secondary-text">➜</span> Floats the element to the left or right.
        </p>

        <p>
            <code class="def-title">.radius</code><br>

            <span class="secondary-text">➜</span> Applies a border radius to the element.
        </p>

        <p>
            <code class="def-title">.rounded</code><br>

            <span class="secondary-text">➜</span> Applies enough border radius to make the ends rounded.
        </p>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">.disabled</code><br>

            <span class="secondary-text">➜</span> Disables the element. Also applies to the <code>disabled</code> attribute.
        </p>

        <p>
            <code class="def-title">readonly (attribute)</code><br>

            <span class="secondary-text">➜</span> Applies read-only styles to the element.
        </p>

        <p>
            <code class="def-title">.antialiased</code><br>

            <span class="secondary-text">➜</span> Applies font smoothing to help the readability of light text on a dark background.
        </p>
    </div><!-- /.column -->
</div><!-- /.row -->

<hr>

<h3>Color Classes</h3>

<div class="row">
    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">.primary</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="primary-text">primary color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="primary-text">primary color</span> to an <code>hr</code> element.
        </p>

        <p>
            <code class="def-title">.secondary</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="secondary-text">secondary color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="secondary-text">secondary color</span> to an <code>hr</code> element.
        </p>

        <p>
            <code class="def-title">.tertiary</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="tertiary-text">tertiary color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="tertiary-text">tertiary color</span> to an <code>hr</code> element.
        </p>

        <p>
            <code class="def-title">.info</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="info-text">info color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="info-text">info color</span> to an <code>hr</code> element.
        </p>

        <p>
            <code class="def-title">.success</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="success-text">success color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="success-text">success color</span> to an <code>hr</code> element.
        </p>

        <p>
            <code class="def-title">.warn</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="warn-text">warn color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="warn-text">warn color</span> to an <code>hr</code> element.
        </p>

        <p>
            <code class="def-title">.alert</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="alert-text">alert color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="alert-text">alert color</span> to an <code>hr</code> element.
        </p>

        <p>
            <code class="def-title">.gray</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="gray-text">gray color</span> as a background to the element and assigns the text color to white. Also assigns the <span class="gray-text">gray color</span> to an <code>hr</code> element.
        </p>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">.primary-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="primary-text">primary color</span> as the element's text color.
        </p>

        <p>
            <code class="def-title">.secondary-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="secondary-text">secondary color</span> as the element's text color.
        </p>

        <p>
            <code class="def-title">.tertiary-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="tertiary-text">tertiary color</span> as the element's text color.
        </p>

        <p>
            <code class="def-title">.info-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="info-text">info color</span> as the element's text color.
        </p>

        <p>
            <code class="def-title">.success-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="success-text">success color</span> as the element's text color.
        </p>

        <p>
            <code class="def-title">.warn-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="warn-text">warn color</span> as the element's text color.
        </p>

        <p>
            <code class="def-title">.alert-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="alert-text">alert color</span> as the element's text color.
        </p>

        <p>
            <code class="def-title">.gray-text</code><br>

            <span class="secondary-text">➜</span> Applies the <span class="gray-text">gray color</span> as the element's text color.
        </p>
    </div><!-- /.column -->
</div><!-- /.row -->
