<h3>Features</h3>

<p>
    <code class="def-title">$gimme-debug</code>
    <small><em>boolean</em> <strong>False</strong></small><br>

    <span class="secondary-text">➜</span> Enables the <a href="{{ '/docs/debug' | prepend: base_url }}">debug module</a>.
</p>

<p>
    <code class="def-title">$gimme-responsive-widths</code>
    <small><em>boolean</em> <strong>True</strong></small><br>

    <span class="secondary-text">➜</span> Includes responsive width
    classes. If it is disabled, only basic widths are available (no
    namespaces).
</p>

<hr>

<h3>Breakpoints</h3>

<div class="row">
    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">$xsmall</code>
            <small><em>width value</em> (0)</small><br>

            <span class="secondary-text">➜</span> Sets the breakpoint for the
            <code>xsmall</code> media size.
        </p>

        <p>
            <code class="def-title">$small</code>
            <small><em>width value</em> (320px)</small><br>

            <span class="secondary-text">➜</span> Sets the breakpoint for the
            <code>small</code> media size.
        </p>

        <p>
            <code class="def-title">$medium</code>
            <small><em>width value</em> (640px)</small><br>

            <span class="secondary-text">➜</span> Sets the breakpoint for the
            <code>medium</code> media size.
        </p>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">$large</code>
            <small><em>width value</em> (960px)</small><br>

            <span class="secondary-text">➜</span> Sets the breakpoint for the
            <code>large</code> media size.
        </p>

        <p>
            <code class="def-title">$xlarge</code>
            <small><em>width value</em> (1280px)</small><br>

            <span class="secondary-text">➜</span> Sets the breakpoint for the
            <code>xlarge</code> media size.
        </p>

        <p>
            <code class="def-title">$xxlarge</code>
            <small><em>width value</em> (1500px)</small><br>

            <span class="secondary-text">➜</span> Sets the breakpoint for the
            <code>xlxarge</code> media size.
        </p>
    </div><!-- /.column -->
</div><!-- /.row -->

<hr>

<h3>Colors</h3>

<div class="row">
    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">$brand-primary</code>
            <small><em>color value</em> (#FF6633)</small><br>

            <span class="secondary-text">➜</span> Sets the value for the
            <code>brand-primary</code> color.
        </p>

        <p>
            <code class="def-title">$brand-secondary</code>
            <small><em>color value</em> (#6DBBB7)</small><br>

            <span class="secondary-text">➜</span> Sets the value for the
            <code>brand-secondary</code> color.
        </p>

        <p>
            <code class="def-title">$brand-tertiary</code>
            <small><em>color value</em> (#B29167)</small><br>

            <span class="secondary-text">➜</span> Sets the value for the
            <code>brand-tertiary</code> color.
        </p>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">$info-color</code>
            <small><em>color value</em> (#778899)</small><br>

            <span class="secondary-text">➜</span> Sets the value for the
            <code>info-color</code> that is used within Fuselage.
        </p>

        <p>
            <code class="def-title">$success-color</code>
            <small><em>color value</em> (3B8C0C)</small><br>

            <span class="secondary-text">➜</span> Sets the value for the
            <code>success-color</code> that is used within Fuselage.
        </p>

        <p>
            <code class="def-title">$warn-color</code>
            <small><em>color value</em> (#FFB83F)</small><br>

            <span class="secondary-text">➜</span> Sets the value for the
            <code>warn-color</code> that is used within Fuselage.
        </p>

        <p>
            <code class="def-title">$alert-color</code>
            <small><em>color value</em> (#CE4844)</small><br>

            <span class="secondary-text">➜</span> Sets the value for the
            <code>alert-color</code> that is used within Fuselage.
        </p>
    </div><!-- /.column -->
</div><!-- /.row -->

<hr>

<h3>Typography</h3>

<p>
    <code class="def-title">$base-ratio</code>
    <small><em>numeric value</em> ($golden)</small><br>

    <span class="secondary-text">➜</span> Sets the modular scale used in the
    typography. Below are variable names for valid ratios you can use, along with their values.
</p>

<ul class="def-options">
    <div class="row">
        <div class="column one-whole medium-one-half">
            <li>$golden: 1.618034</li>
            <li>$double-octave: 4</li>
            <li>$major-twelfth: 3</li>
            <li>$major-eleventh: 2.666666667</li>
            <li>$major-tenth: 2.5</li>
            <li>$octave: 2</li>
            <li>$major-seventh: 1.875</li>
            <li>$minor-seventh: 1.777777778</li>
        </div>
        <div class="column one-whole medium-one-half">
            <li>$major-sixth: 1.666666667</li>
            <li>$minor-sixth: 1.6</li>
            <li>$fifth: 1.5</li>
            <li>$augmented-fourth : 1.41421</li>
            <li>$fourth: 1.333333333</li>
            <li>$major-third: 1.25</li>
            <li>$minor-third: 1.2</li>
            <li>$major-second: 1.125</li>
            <li>$minor-second: 1.066666667</li>
        </div>
    </div>
</ul>

<p id="def-mixin-button">
    <code class="def-title">modular-scale([$index, $scale-list])</code><br>

    <span class="secondary-text">➜</span> Accesses a given modular scale by index.
</p>

<blockquote>
    <dl>
        <dt>$index <small><em>positive integer</em> (2)</small></dt>
        <dd>Index of the given modular scale. Cannot exceed the <code>$scale-length</code></dd>

        <dt>$scale-list <small><em>list of numeric values</em> ($generated-scale)</small></dt>
        <dd>Modular scale to be used. Will use the default scale unless a new
        one is generated and passed in.</dd>
    </dl>
</blockquote>

<p>
    <code class="def-title">$scale-length</code>
    <small><em>positive integer</em> (7)</small><br>

    <span class="secondary-text">➜</span> Determines the length of your modular
    scale. The modular scale is a list of values, accessible by passing an index
    to the <code>modular-scale</code> function.
</p>

<p>
    <code class="def-title">$base-font</code>
    <small><em>font stack</em> (Helvetica, Arial, sans-serif)</small><br>

    <span class="secondary-text">➜</span> Sets the base font-stack for the
    project.
</p>

<p>
    <code class="def-title">$specialty-font</code>
    <small><em>font stack</em> ("Palatino linotype", "Book Antiqua", Palatino, serif)</small><br>

    <span class="secondary-text">➜</span> Sets the specialty font stack for the
    project.
</p>

<p>
    <code class="def-title">$mono-font</code>
    <small><em>font stack</em> ("Courier New", Courier, monospace)</small><br>

    <span class="secondary-text">➜</span> Sets the monspaced font stack for the
    project. This is used in code blocks.
</p>

<p>
    <code class="def-title">$base-font-size</code>
    <small><em>font size</em> (1.8rem)</small><br>

    <span class="secondary-text">➜</span> Sets the base font size for the project. Based on a rem size of 10px.
</p>

<p>
    <code class="def-title">$base-line-height</code>
    <small><em>line height</em> ($base-ratio)</small><br>

    <span class="secondary-text">➜</span> Sets the base line height for the project.
</p>

<p>
    <code class="def-title">$text-color</code>
    <small><em>color value</em> (#2E2E2E)</small><br>

    <span class="secondary-text">➜</span> Sets the text color for the project.
</p>

<hr>

<h3>Spacing</h3>

<p>
    <code class="def-title">$spacing-unit</code>
    <small><em>spacing value</em> (modular-scale(3))</small><br>

    <span class="secondary-text">➜</span> Sets the spacing unit for the project.
    This defaults to the third value in the generated modular scale.
</p>

<p>
    <code class="def-title">$border-radius</code>
    <small><em>radius value</em> (modular-scale(1))</small><br>

    <span class="secondary-text">➜</span> Sets the border-radius value for the
    project. This defaults to the first value in the generated modular scale.
</p>
