<h3>Headings</h3>

<p>Headings are constructed by default using a modular scale. There are six heading sizes that are built in off the bat.</p>

<div class="row">
    <div class="column one-whole medium-one-half">
        <h5>Output</h5>

        <h1>H1 <small>Sub</small></h1>
        <h2>H2 <small>Sub</small></h2>
        <h3>H3 <small>Sub</small></h3>
        <h4>H4 <small>Sub</small></h4>
        <h5>H5 <small>Sub</small></h5>
        <h6>H6 <small>Sub</small></h6>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">
        <h3>HTML</h3>

        {% highlight html %}
        <h1>H1 <small>Sub</small></h1>
<h2>H2 <small>Sub</small></h2>
<h3>H3 <small>Sub</small></h3>
<h4>H4 <small>Sub</small></h4>
<h5>H5 <small>Sub</small></h5>
<h6>H6 <small>Sub</small></h6>
        {% endhighlight %}
    </div><!-- /.column -->
</div><!-- /.row -->

<hr>

<h3>Headings</h3>

<p>Headings are constructed by default using a modular scale. There are six heading sizes that are built in off the bat.</p>

<div class="row">
    <div class="column one-whole medium-one-half">
        <h5>Output</h5>

        <h1>H1 <small>Sub</small></h1>
        <h2>H2 <small>Sub</small></h2>
        <h3>H3 <small>Sub</small></h3>
        <h4>H4 <small>Sub</small></h4>
        <h5>H5 <small>Sub</small></h5>
        <h6>H6 <small>Sub</small></h6>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">
        <h3>HTML</h3>

        {% highlight html %}
        <h1>H1 <small>Sub</small></h1>
<h2>H2 <small>Sub</small></h2>
<h3>H3 <small>Sub</small></h3>
<h4>H4 <small>Sub</small></h4>
<h5>H5 <small>Sub</small></h5>
<h6>H6 <small>Sub</small></h6>
        {% endhighlight %}
    </div><!-- /.column -->
</div><!-- /.row -->
