<p id="def-mixin-button">
    <code class="def-title">text-link([$color])</code><br>

    <span class="secondary-text">➜</span> Styles a text link based on a passed-in color (hover, visited, disabled, etc.).
</p>

<blockquote>
    <dl>
        <dt>$color <small><em>color value</em> (<code>$brand-primary</code>)</small></dt>
        <dd><a href="{{ '/docs/variables' | prepend: base_url }}">Color variable</a> (<code>$brand-primary</code>, <code>$brand-secondary</code>, <code>$brand-tertiary</code>, etc.) or any other valid color value.</dd>
    </dl>
</blockquote>
