<h3>Utilites</h3>

<div class="row">
    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">.group</code><br>

            <span class="secondary-text">➜</span> Includes the <a href="{{ '/docs/mixins' | prepend: base_url }}">clearfix mixin</a>.
        </p>

        <p>
            <code class="def-title">.hidden</code><br>

            <span class="secondary-text">➜</span> Hides the element.
        </p>

        <p>
            <code class="def-title">.left</code><br>

            <span class="secondary-text">➜</span> Floats the element to the left.
        </p>

        <p>
            <code class="def-title">.right</code><br>

            <span class="secondary-text">➜</span> Floats the element to the right.
        </p>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">.disabled</code><br>

            <span class="secondary-text">➜</span> Disables the element. Also applies to the <code>disabled</code> attribute.
        </p>

        <p>
            <code class="def-title">readonly (attribute)</code><br>

            <span class="secondary-text">➜</span> Applies read-only styles to the element.
        </p>

        <p>
            <code class="def-title">.antialiased</code><br>

            <span class="secondary-text">➜</span> Applies font smoothing to help the readability of light text on a dark background.
        </p>

        <p>
            <code class="def-title">.rounded</code><br>

            <span class="secondary-text">➜</span> Applies a border radius to the element.
        </p>
    </div><!-- /.column -->
</div><!-- /.row -->

<h3>Colors</h3>

<div class="row">
    <div class="column one-whole medium-one-half">
        <p>
            <code class="def-title">.primary</code><br>

            <span class="secondary-text">➜</span> Applies the primary color as a background to the element and assigns the text color to white.
        </p
        >
        <p>
            <code class="def-title">.secondary</code><br>

            <span class="secondary-text">➜</span> Applies the secondary color as a background to the element and assigns the text color to white.
        </p>
    </div><!-- /.column -->

    <div class="column one-whole medium-one-half">

    </div><!-- /.column -->
</div><!-- /.row -->
