<div class="row">
    <div class="one-whole medium-one-third column feature-icon">
        <img src="{{ '/img/sass-logo.svg' | prepend: site.baseurl }}" alt="Sass Logo">

        <p>
            Built on the preprocessor Sass, Fuselage is highly customizable and
            speedy to work with.
        </p>
    </div><!-- /.column -->

    <div class="one-whole medium-one-third column feature-icon">
        <img src="{{ '/img/feature-simple.svg' | prepend: site.baseurl }}" alt="Responsive Illustration">

        <p>
            Powerful features you would expect from a big framework, without the
            heavy footprint and overhead.
        </p>
    </div><!-- /.column -->

    <div class="one-whole medium-one-third column feature-icon">
        <img src="{{ '/img/feature-responsive.svg' | prepend: site.baseurl }}" alt="Responsive Illustration">

        <p>
            Fuselage builds off an elegant grid and out-of-the-box responsive
            elements to cater to all devices.
        </p>
    </div><!-- /.column -->
</div><!-- /.row -->
