{% assign sorted_posts = site.posts | sort: "order" %}
<ul class="sidebar">
    <li class="sidebar-title">Components</li>
{% for component in sorted_posts %}
        <li>
            {% if component.url == page.url %}
                <a href="{{ component.url | prepend: site.baseurl }}" class="active">
            {% else %}
                <a href="{{ component.url | prepend: site.baseurl }}">
            {% endif %}
                {{ component.title }}
            </a>
        </li>
    {% endfor %}
</ul>
