<p id="mixin-button" class="mixin-title">button($color, [$text, $reverse, $hover])</p>

<blockquote>
    <dl>
        <dt>$color <small><em>color value</em> <strong>required</strong></small></dt>
        <dd>Border color and text color. Also the fill color when hovered.</dd>

        <dt>$text <small><em>color value</em> (white)</small></dt>
        <dd>Text color when hovered.</dd>

        <dt>$reverse <small><em>boolean</em> (false)</small></dt>
        <dd>Inverts button to be filled by default and transparent when hovered.</dd>

        <dt>$hover <small><em>color value</em> (transparent)</small></dt>
        <dd>Hover color when <strong>$reversed: true</strong>.</dd>
    </dl>
</blockquote>
