/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _settings.scss

    Customize your project here! Happy hacking!
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

// Features
// - - - - - - - - - - - - - - - - - - - - - - -
// $gimme-debug: false;
// $gimme-responsive-widths: true;


// Breakpoints (lower bounds, mobile first)
// - - - - - - - - - - - - - - - - - - - - - - -
// $xsmall: 0;
// $small: 320px;
// $medium: 640px;
// $large: 960px;
// $xlarge: 1280px;


// Colors
// - - - - - - - - - - - - - - - - - - - - - - -
// $brand-primary: #FF6633;
// $brand-secondary: #6DBBB7;
// $brand-tertiary: #B29167;

// $info-color: $debug-color-1;
// $success-color: $debug-color-2;
// $warn-color: $debug-color-5;
// $alert-color: $debug-color-4;


// Typography
// - - - - - - - - - - - - - - - - - - - - - - -
// Modular Scale
// $base-ratio: $golden; // 1.618034
// $scale-length: 7;

// $base-font: Helvetica, Arial, sans-serif;
// $specialty-font: "Palatino linotype", "Book Antiqua", Palatino, serif;
// $mono-font: "Courier New", Courier, monospace;
// $base-font-size: 1.8rem;
// $base-line-height: $base-ratio;
// $text-color: $darkgray;


// Spacing
// - - - - - - - - - - - - - - - - - - - - - - -
// $spacing-unit: modular-scale(3);
// $border-radius: modular-scale(1);
