/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _buttons.scss

    Basic button styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

button,
.button {
    display: inline-block;
    font-weight: normal;
    line-height: 1;
    margin-bottom: $spacing-unit;
    padding: $spacing-unit / 1.5;

    @include button($brand-primary);

    &.secondary {
        @include button($brand-secondary);
    }

    &.tertiary {
        @include button($brand-tertiary);
    }

    &.info {
        @include button($info-color);
    }

    &.success {
        @include button($success-color);
    }

    &.warn {
        @include button($warn-color);
    }

    &.alert {
        @include button($alert-color);
    }

    &.tiny {
        font-size: modular-scale(1);
        padding: $spacing-unit / 4;
    }

    &.small {
        font-size: modular-scale(1) * 1.25;
        padding: $spacing-unit / 2;
    }

    &.large {
        font-size: modular-scale(2) * 1.25;
        padding: $spacing-unit;
    }
}
