/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _debug.scss

    Debugging styles to evaluate layout and provide suggestions
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@warn "MODULAR SCALE DEBUG: Your ratio is " + $base-ratio + " and your generate scale is " + $generated-scale;

body * {
    outline: 1px solid $debug-color-1 !important;
    * {
        outline: 1px solid $debug-color-2 !important;
        * {
            outline: 1px solid $debug-color-3 !important;
            * {
                outline: 1px solid $debug-color-4 !important;
                * {
                    outline: 1px solid $debug-color-5 !important;
                    * {
                        outline: 1px solid $debug-color-6 !important;
                    }
                }
            }
        }
    }
}
