/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _defaults.scss

    This contains default variables for fuselage
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

// Features
$gimme-debug: false !default;
$gimme-responsive-widths: true !default;

// Breakpoints (lower bounds, mobile first)
$xsmall: 0 !default;
$small: 320px !default;
$medium: 640px !default;
$large: 960px !default;
$xlarge: 1280px !default;

// Brand Colors
$brand-primary: #FF6633 !default;
$brand-primary-tint: lighten($brand-primary, 30%);
$brand-primary-shade: darken($brand-primary, 20%);

$brand-secondary: #6DBBB7 !default;
$brand-secondary-tint: lighten($brand-secondary, 30%);
$brand-secondary-shade: darken($brand-secondary, 20%);

$brand-tertiary: #B29167 !default;
$brand-tertiary-tint: lighten($brand-tertiary, 30%);
$brand-tertiary-shade: darken($brand-tertiary, 20%);

// Default Colors
$gray: #5D5D5D !default;
$gray-tint: lighten($gray, 55%);
$gray-shade: darken($gray, 30%);

$darkgray: #2E2E2E !default;
$darkgray-tint: lighten($darkgray, 30%);
$darkgray-shade: darken($darkgray, 10%);

$white: #FFF;
$black: #000;
$transparent: rgba(255,255,255,0);

$debug-color-1: #778899 !default;
$debug-color-2: #3B8C0C !default;
$debug-color-3: #D93B3B !default;
$debug-color-4: #CE4844 !default;
$debug-color-5: #FFB83F !default;
$debug-color-6: #8450B3 !default;

$info-color: $debug-color-1 !default;
$success-color: $debug-color-2 !default;
$warn-color: $debug-color-5 !default;
$alert-color: $debug-color-4 !default;

// Modular Scale
$base-ratio: $golden !default; // 1.618034
$scale-length: 7 !default;

$generated-scale: (1rem);
@for $i from 1 through $scale-length - 1 {
    $generated-scale: append($generated-scale, nth($generated-scale, $i) * $base-ratio);
}

// Typography
$base-font: Helvetica, Arial, sans-serif !default;
$specialty-font: "Palatino linotype", "Book Antiqua", Palatino, serif !default;
$mono-font: "Courier New", Courier, monospace !default;
$base-font-size: 1.8rem !default;
$base-line-height: $base-ratio !default;
$text-color: $darkgray !default;

// Spacing
$spacing-unit: modular-scale(3) !default;
$border-radius: modular-scale(1) !default;
