/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _forms.scss

    Form styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#{text-inputs(all, 'input')},
input[type="file"],
select {
    @include form-element
}

select {
    background-image: url($down-arrow);
    background-origin: content-box;
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: $base-font-size;
    cursor: pointer;
    line-height: normal;
}

label {
    cursor: pointer;
    display: block;
    font-size: 80%;
}

input,
textarea {
    border: 1px solid lighten($gray, 20%);
    display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
    cursor: pointer;
    margin-bottom: $spacing-unit / 2;

    &+ label {
        display: inline-block;
        margin-left: $spacing-unit / 4;
        margin-right: $spacing-unit / 2;
        margin-bottom: 0;
        vertical-align: baseline;
    }
}

input[type="range"] {
    border: 0;
}

input[type="file"] {
    cursor: pointer;
    text-align: start;

    &::file-upload-button {
        visibility: hidden;
        width: 0;
    }

    &::-webkit-file-upload-button {
        visibility: hidden;
        width: 0;
    }

    &::-moz-file-upload-button {
        visibility: hidden;
        width: 0;
    }
}

input.disabled:not(.button),
input[disabled]:not(.button),
select.disabled:not(.button),
select[disabled]:not(button),
textarea.disabled,
textarea[disabled],
input[readonly]:not(.button),
select[readonly]:not(button),
textarea[readonly], {
    background-color: #E4E4E4;
    color: #777777;

    &+ label {
        color: #AAAAAA;
        cursor: not-allowed;
    }
}

fieldset {
    padding: $spacing-unit / 1.35;

    fieldset {
        margin-bottom: $spacing-unit;
    }

    legend {
        padding: 0 $spacing-unit / 6;
    }
}
