/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _functions.scss

    Functions for use throughout the framework
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

// Reverse a list
@function reverse($list, $recursive: false) {
    $result: ();

    @for $i from length($list)*-1 through -1 {
        @if type-of(nth($list, abs($i))) == list and $recursive {
            $result: append($result, reverse(nth($list, abs($i)), $recusrive));

        } @else {
            $result: append($result, nth($list, abs($i)));
        }
    }

    @return $result;
}

// Get from the modular scale
@function modular-scale($index: 2, $scale-list: $generated-scale) {
    @return nth($generated-scale, $index);
}
