/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _print.scss

    Print styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media print {
    body {
        background: #FFFFFF;
        color: #000000;
    }

    a {
        color: #000000;
        word-wrap: break-word;

        &[href]:after {
            content: " ("attr(href)") ";
        }

        &[href^="#"]:after {
            display: none;
        }
    }

    img {
        max-width: 100%;
    }

    blockquote,
    q:after {
        content: " (Source: "attr(cite)")";
    }
}
