/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _reset.scss

    Basic reset
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

// Set root font-size to 10px and hide html overflow
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

// Global box-sizing
* {box-sizing: border-box;}

// Other Basic Resets
body, h1, h2, h3, h4, h5, h6,
p, blockquote, hr, figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

// Forms
textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

#{text-inputs(all, 'input')} {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    -webkit-transition: border-color 0.2s linear, background 0.2s linear;
    -moz-transition: border-color 0.2s linear, background 0.2s linear;
    -ms-transition: border-color 0.2s linear, background 0.2s linear;
    -o-transition: border-color 0.2s linear, background 0.2s linear;
    transition: border-color 0.2s linear, background 0.2s linear;
    outline: 1px solid #eee;

    &:focus {
        outline: none;
    }
}
