/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _tables.scss

    Basic table styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table {
    background: $white;
    border: 1px solid darken($gray-tint, 10%);
    font-size: 80%;
    table-layout: auto;
    width: 100%;

    caption {
        font-size: modular-scale(3);
        font-weight: 100;
        margin-bottom: $spacing-unit / 2.5;
        text-align: left;
    }

    thead {
        background: $gray-tint;
    }

    tr:nth-of-type(even) {
        background: lighten($gray-tint, 4%);
    }

    td,
    th {
        padding: $spacing-unit / 2.5;
        text-align: left;
    }

    th {
        font-size: modular-scale(2) * 1.125;
        font-weight: 100;
    }
}
