/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _tables.scss

    Basic table styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table {
    background: $white;
    border: 1px solid darken($gray-tint, 10%);
    font-size: 80%;
    table-layout: auto;
    width: 100%;

    caption {
        font-size: modular-scale(3);
        font-weight: 100;
        margin-bottom: $spacing-unit / 2.5;
        text-align: left;
    }

    thead,
    tfoot {
        background: $gray-tint;
    }

    tr:nth-of-type(even) {
        background: lighten($gray-tint, 4%);
    }

    td {
        padding: $spacing-unit / 2.5;
        text-align: left;

        &:nth-child(n+2) {
            padding-top: ($spacing-unit / 2.5);
        }
    }

    th {
        font-size: modular-scale(2) * 1.125;
        font-weight: 100;
        padding: $spacing-unit / 2.5;
        text-align: left;

        @media print {
            font-size: modular-scale(1);
            font-weight: bold;
        }
    }
}

table[class*="responsive"] {

    thead,
    tfoot {
        background: $gray-tint;
        display: none;
    }

    td {
        display: block;
        padding: $spacing-unit / 2.5;
        text-align: left;

        &:nth-child(n+2) {
            padding-top: 0;
        }

        &:before {
            content: attr(data-th)":\A";
            font-size: modular-scale(1) * 1.25;
            font-weight: 400;
            white-space: pre;
        }
    }
}

@if $gimme-responsive-tables == true {
    // Tables switch to responsive view in Xsmall media query - 0
    @include mq($small - 1) {@include responsive-table-setup($namespace: "xsmall");}

    // Tables switch to responsive view in Small media query - 320px
    @include mq($medium - 1) {@include responsive-table-setup($namespace: "small");}

    // Tables switch to responsive view in Medium - 640px
    @include mq($large - 1) {@include responsive-table-setup($namespace: "medium");}

    // Tables switch to responsive view in Large - 960px
    @include mq($xlarge - 1) {@include responsive-table-setup($namespace: "large");}

    // Tables switch to responsive view in Xlarge - 1280px
    @include mq($xxlarge - 1) {@include responsive-table-setup($namespace: "xlarge");}

    // Tables switch to responsive view in Xxlarge - 1500px
    // Simply use the class 'responsive' on your table to always use the responsive view
}
