/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    _typography.scss

    Typographic styles and modular scale
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}

.headline {
  font-family: $base-font;
  font-weight: 100;
  line-height: 1;
}


blockquote {
    color: lighten($gray, 15%);
    border-left: 1px solid lighten($gray, 30%);
    padding-left: $spacing-unit;
    font-weight: 100;

    > :last-child {
        margin-bottom: 0;
    }
}

// Code
pre,
code {
    font-family: $mono-font;
    border-radius: $border-radius / 4;
    background-color: $gray-tint;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
