/**
 * Base
 */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 $spacing-unit / 2;

    @include clearfix;
}

hr {
    border-bottom: 1px solid $gray-tint;
    border-top: none;
}

/**
 * Home
 */
.feature-icon {
    padding: 0 $spacing-unit;

    img {
        margin-bottom: $spacing-unit / 2;
        max-height: 140px;
        width: 100%;
    }
}

/**
 * Icons
 */
.icon {

    &:hover {
        border-bottom: none;
    }

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $gray;
        }
    }
}

/**
 * Mixin Definitions
 */
.mixin-title {
    font-size: modular-scale(3);
}
