/**
 * Page content
 */

.about-info,
.documentation {
    padding: $spacing-unit 0 0;
}

.page-title {
    color: $brand-secondary;
    font-weight: 100;
}

.page-heading {
    font-size: modular-scale(3) * 1.125;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: modular-scale(1) * 1.5;
    color: $gray;
}

.post-link {
    display: block;
    font-size: 24px;
}

.feature-icons {
    padding: ($spacing-unit * 2) 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
