/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include mq($large) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include mq($large) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include mq($large) {
            font-size: 18px;
        }
    }
}

.post-meta {
    font-size: modular-scale(1) * 1.25;
    color: $gray;
}
